<%= bootstrap_form_with(model: advert, local: true) do |form| %>
  <% if advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
      <% advert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.select :category_id, Category.all.collect { |category| [category.description, category.id]} %>
  </div>

  <div class="field">
    <%= form.file_field :avatars, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
