<div class="row">
  <div class="col-xs-8">
    <% @adverts.each do |advert| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>
<!--            <strong>Views: <%#= advert.quantity_view %></strong> - <%#= advert.created_at.strftime("Created:  %b %d, %Y at %H:%M") %> | <%#= advert.updated_at.strftime("Last Update: %b %d, %Y at %H:%M") %>-->
            <strong><%= advert.title %></strong>
          </h5>
        </div>

        <div class="panel-body">
          <strong>Views</strong> | <%= advert.quantity_view %><br>
          <strong>Category</strong> | <%= advert.category.description %><br>
          <td><strong>Description</strong> | <%= advert.description %></td><br>
          <td><strong>Price</strong> | R$ <%= advert.price %></td>

        </div>
        <div class="panel-body">
            <%= link_to 'Exibir', advert, :class => "btn btn-primary active" %></button>
        </div>

      </div>
    <% end %>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Categoria dos Produtos
      </div>
      <div class="panel-body">
        <li><%= link_to 'Tudo', "/adverts/homepage?category_id=0", class: 'btn-link' %></li>
        <% @categories.each do |category| %>
          <li><%= link_to category.description, homepage_adverts_path(category_id: category.id), class: 'btb btn-link' %></li>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Busca</div>
      <div class="panel-body">
        <%= form_tag(homepage_adverts_path, method: 'post') do %>
          <%= text_field_tag :advert_description %>
          <%= submit_tag("Buscar") %>
        <% end %>
      </div>
    </div>

  </div>
</div>
