<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5><strong><%= @advert.title %> | Views: <%= @advert.quantity_view %></h5></strong>
        </div>

        <div class="panel-body">
          <h5><strong>Description:</strong></h5>
          <h5><%= @advert.description %></h5>
          <h5><strong>Advertiser:</strong></h5>
          <h5><%= @advert.user.name %></h5>
          <h5><%= @advert.user.address %></h5>
          <h5><%= @advert.user.telephone %></h5>
          <h5><%= @advert.user.email %></h5>

        </div>

        <div class="panel-footer">
          <div id="lightgallery">
            <% @advert.avatars.each do |p| %>
              <a data-src="<%= p.url %>" data-sub-html="<%= @advert.title %>">
                <%= image_tag p.medium.url, class: "img-thumbnail" %>
              </a>
            <% end %>
          </div>

          <h2>R$: <%= @advert.price %></h2>
        </div>

      </div>
      <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=2277692172482828&autoLogAppEvents=1"></script>
<div class="fb-share-button" data-href="http://localhost:3000/users/auth/facebook/callback" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Fusers%2Fauth%2Ffacebook%2Fcallback&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=2277692172482828&autoLogAppEvents=1"></script>
<div class="fb-comments" data-href="https://localhost:3000/users/auth/facebook/callback" data-width="30" data-numposts="5"></div>
    <%= social_share_button_tag(@advert.title) %>
    <%= link_to 'Edit', edit_advert_path(@advert), class: "btn btn-primary active" %>
    <%= link_to 'Back', adverts_path, class: "btn btn-primary active" %>


  </div>
</div>

<script type="application/javascript">
  var gallery = $("#lightgallery").lightGallery();
</script>
