<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.description %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Exibir', category, :class => "btn btn-primary active" %></button>
            <%= link_to 'Editar', edit_category_path(category), :class => "btn btn-primary active" %>
            <%= link_to 'Excluir', category, :class => "btn btn-primary active", method: :delete, data: {confirm: 'Are you sure?'} %></button>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Categoria', new_category_path, class: "btn btn-primary active" %>
